.form-input {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    width: 100%;
    font-size: 14px;
    color: #BDBDBD;
    outline: none;
    padding-top: 33px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}