.tabs {
    padding-top: 100px;
}

.tabs__container>input[type="radio"] {
    display: none;
}

.tabs__container>div {
    /* скрыть контент по умолчанию */
    display: none;
    border: 1px solid #e0e0e0;
    font-size: 16px;
}

  /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab__btn-1:checked~#tabs__content-1, #tab__btn-2:checked~#tabs__content-2, #tab__btn-3:checked~#tabs__content-3 {
    display: block;
}

.tabs__container>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 10px 65px 10px 65px;
    line-height: 19px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    top: 1px;
}

@media (max-width: 560px) {
    .tabs__container>label {
        padding: 10px 25px 10px 25px;
    }
}

.tabs__btn {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.tabs__container>label:not(:first-of-type) {
    border-left: none;
}

.tabs__container>input[type="radio"]:checked+label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.tabs__content {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;    
}

@media (max-width: 1200px) {
    .tabs__content {
        padding-left: 50px;
    }
}

@media (max-width: 560px) {
    .tabs__content {
        padding-left: 0;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 1200px) {
    .tabs__content-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.tabs__content-title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    padding-top: 47px;
    padding-bottom: 47px;
}

@media (max-width: 1200px) {
    .tabs__content-title {
        font-size: 24px;
        padding-top: 33px;
        padding-bottom: 33px;
    }
}

@media (max-width: 768px) {
    .tabs__content-title {
        font-size: 18px;
    }
}

@media (max-width: 560px) {
    .tabs__content-title {
        text-align: center;
    }
}

.tabs__content-desc {
    max-width: 570px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px
}

@media (max-width: 1200px) {
    .tabs__content-desc {
        font-size: 14px;
    }
}

@media (max-width: 560px) {
    .tabs__content-desc {
        text-align: center;
    }
}

.tabs__content-img {
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .tabs__content-img {
        margin-left: 25px;
    }
}

@media (max-width: 560px) {
    .tabs__content-img {
        display: none;
    }
}

.tabs__content-btn {
    margin-top: 27px;
}

@media (max-width: 1200px) {
    .tabs__content-btn {
        width: 232px;
        margin-top: 38px;
    }
}

@media (max-width: 768px) {
    .tabs__content-btn {
        width: 180px;
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: 16px;
    }
}

@media (max-width: 560px) {
    .tabs__content-btn {
        width: 240px;
        margin-top: 29px;
        margin-bottom: 30px;
    }
}

.tabs__content-btn:hover {
    background: var(--button-hover-color);
    transition: 0.3s;
}